---
---

* {
  margin: 0;
  padding: 0;
}

.header {
  background: rgb(220, 50, 47);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 4px;
  min-height: 64px;
  position: relative;
  z-index: 1;
}

.logo {
  background: url(logo.svg) no-repeat center center;
  display: block;
  height: 64px;
  float: left;
  width: 290px;
  text-indent: -1000em;
}

.searchbox {
  margin-left: 290px;
  position: relative;

  .searchbox__input {
    border: none;
    border-radius: 4px;
    display: inline-block;
    line-height: 32px;
    padding: 0 8px;
    margin: 16px 0;
    width: 100%;
  }

  .searchbox__results {
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    display: none;
    list-style: none;
    margin-top: -16px;
    position: absolute;
    width: 100%;
  }
}

.searchresult {
  .searchresult__link {
    display: block;
    padding: 4px;
  }
}
