---
---

@import "bootstrap/bootstrap";
@import "gruvbox-light";

.diagram {
  text-align: center;
  img {
    max-width: 100%;
  }
}

.footer {
  background: #4A5659;
  margin-top: 2rem;
  padding: 1rem;

  a, a:link, a:visited {
    color: #fff;
  }
}

.footer-links {
  column-count: 2;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.footer-link {
  line-height: 2rem;

  .with-logo {
    padding-left: 24px;
    background-repeat: no-repeat;
    background-position: left center;

    &.github {
      background-image: url(assets/github-logo.svg);
      background-size: 16px;
    }

    &.scala {
      background-image: url(assets/scala-logo.svg);
      background-size: 11px;
      background-position: 2px center;
    }
  }
}

.hljs {
  display: block;
  background: $gb-lm-bg0;
  border-left: 3px solid $gb-lm-bg2;
  padding: 1rem;

  &.language-scala {
    .hljs-keyword {
      color: $gb-lm-light-red;
    }

    .hljs-class .hljs-title,
    .hljs-type {
      color: $gb-lm-light-yellow;
    }

    .hljs-function .hljs-title {
      color: $gb-lm-light-green;
    }
  }
}

.function-list {
  column-count: 2;
  column-gap: 2rem;
  margin: 2rem 0;
  padding: 0;
  list-style: none;
}

.function-item {
  & + .function-initial {
    margin-top: 1rem;
  }

  &.function-initial {
    border-bottom: 1px solid #e0e0e0;
  }
}

.logo {
  span {
    background: url(assets/logo.svg) no-repeat center center;
    display: block;
    height: 64px;
    margin-bottom: -16px;
    padding: 16px 0;
    min-width: 290px;
    text-indent: -1000em;
  }
}

.header {
  background: rgb(220, 50, 47);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: calc(4px + 2rem);
}

.searchbox {
  position: relative;

  .searchbox__input {
    background: #fff;
    border: none;
    border-radius: 4px;
    line-height: 32px;
    opacity: .5;
    padding: 0 1rem;
    margin: 16px 0;
    transition: opacity .5s ease-out;
    width: 100%;

    &:focus {
      opacity: 1;
    }

    &.showing-results {
      opacity: 1;
      border-radius: 4px 4px 0 0;
    }
  }

  .searchbox__results {
    background: #fff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 4px 4px;
    display: none;
    list-style: none;
    margin-top: -16px;
    max-height: 300px;
    overflow-y: scroll;
    padding: 0;
    position: absolute;
    width: 100%;
  }

  .searchresult {
    .searchresult__link {
      display: block;
      padding: .5rem 1rem;
    }
  }
}

.translation-links {
  border-top: 1px solid #e0e0e0;
  font-size: 0.85rem;
  list-style: none;
  margin-top: 1rem;
  padding-top: 1rem;
  text-align: right;
}

.translation-link {
  display: inline;

  & + & {
    margin-left: 1rem;
  }

  &.current-lang {
    font-weight: 600;
  }
}

.wrapper {
  margin: 0 auto;
  max-width: 800px;
}

code {
  background: #f0f3f3;
  color: #667b83;
  font-family: 'IBM Plex Mono', monospace;
  padding: 0 .5rem;
}

body {
  color: #4A5659;
}

h1 {
  font-size: 2rem;
  line-height: 2rem;
  margin-bottom: 2rem;

  code {
    background: none;
    color: inherit;
    padding: inherit;
    margin: inherit;
  }
}

html {
  font-size: 16px;
  line-height: 1em;
}

@include media-breakpoint-up(sm) {
  .home-page {
    .function-list {
      column-count: 4;
    }
  }

  .logo {
    float: left;
  }

  .searchbox {
    margin-left: 290px;
  }
}
