<header class="header">
  <div class="wrapper">
    <div class="container-fluid">
      <a class="logo" href="{{ page.home | relative_url }}/">
        <span>{{ site.title }}</span>
      </a>
      <div class="searchbox">
        <input id="searchbox-input" class="searchbox__input" autocomplete="false">
        <ul id="searchbox-results" class="searchbox__results">
        </ul>
      </div>
    </div>
  </div>
</header>
<template id="search-result">
  <li class="searchresult">
    <a class="searchresult__link"></a>
  </li>
</template>
<script>
    const functions = [
{%- assign all_functions = site.documents | where: 'layout', 'function' -%}
{%- assign locale_functions = all_functions | where: 'lang', page.lang -%}
{%- for f in locale_functions -%}
  {%- unless f.missing -%}
  { name: "{{ f.name }}", url: "{{ f.url | relative_url }}" },
  {%- endunless -%}
{%- endfor -%}
    ];
  new Search(functions);
</script>
