<title>{{ layout.title | flatify }}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% if layout.description %}<meta name="description" content="{{ layout.description | flatify }}">{% endif %}
{% if layout.keywords %}<meta name="keywords" content="{{ layout.keywords | flatify }}">{% endif %}
<meta property="og:title" content="{{ layout.title | flatify }}">
{% if layout.description %}<meta property="og:description" content="{{ layout.description | flatify }}">{% endif %}
<meta property="og:site_name" content="{{ site.title }}">
{% if layout.image %}
<meta property="og:image" content="{{ layout.image | flatify }}">
{%- endif -%}
{% if layout.type %}
<meta property="og:type" content="{{ layout.type }}">
{%- endif %}
<meta property="og:url" content="{{ site.url }}{{ page.url | relative_url }}">
<meta name="robots" content="all">
<link rel="canonical" href="{{ site.url }}{{ page.url | relative_url }}">
