<article id="{{ name }}">
  <h2 class="function-name">{{ name }}</h2>
  <p>{{# t }}{{{ description }}}{{/ t }}</p>
  <ul class="function-signatures">
    {{# signatures }}
      <li class="list-unstyled"><code>{{{ . }}}</code></li>
    {{/ signatures }}
  </ul>
  <figure class="figure">
    <img class="figure-img img-fluid" src="images/{{ name }}.svg" />
  </figure>
</article>
