<article id="{{ name }}">
  <h2>{{ name }}</h2>
  <p>{{# t }}{{{ description }}}{{/ t }}</p>
  <p><code>{{ signature }}</code></p>
  <figure class="figure">
    <img class="figure-img img-fluid" src="images/{{ name }}.svg" />
  </figure>
</article>
