<article id="{{ name }}">
  <h2>{{ name }}</h2>
  <p>{{# translate }}{{{ description }}}{{/ translate }}</p>
  <p><code>{{ signature }}</code></p>
  <figure>
    <img src="images/{{ name }}.svg" alt="{{ name }}" />
  </figure>
</article>
