<!DOCTYPE html>
<html lang="{{ lang.code }}">
<head>
  <meta charset="utf-8" />
  <title>{{# t }}{{ messages.title }}{{/ t }}</title>
  <meta name="description" content="{{# t }}{{ messages.description }}{{/ t }}" />
  <link rel="stylesheet" href="assets/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <a class="d-none d-sm-block" href="https://github.com/superruzafa/visual-scala-reference.git"><img style="position: absolute; top: 0; right: 0; border: 0; z-index: 100" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>
  <header class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">
      <img src="assets/scala-logo.png" width="100" alt="" />
      {{# t }}{{ messages.title }}{{/ t }}
    </a>
    <ul class="navbar-nav">
      {{# allLangs }}
        <li class="nav-item">
          <a class="nav-link" href="index-{{ code }}.html">{{ name }}</a></li>
        </li>
      {{/ allLangs }}
    </ul>
  </header>
  <div class="container">
    <div class="row">
      <aside class="col-sm-5 col-md-4 col-lg-3">
        <ul class="d-none d-sm-block">
          {{# functions }}
            <li class="list-unstyled"><a href="#{{ name }}" title="{{ name }}">{{ name }}</a></li>
          {{/ functions }}
        </ul>
      </aside>
      <section class="col-sm-7 col-md-8 col-lg-9">
        {{# functions }}
          {{> function }}
        {{/ functions }}
      </section>
      </div>
    </div>
  </div>
</body>
</html>
