<!doctype html>
<html>
<head>
  <title></title>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="assets/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <header>
    <h1>Visual Scala Reference</h1>
  </header>
  {% block content %}
  {% endblock %}
</body>
</html>
