{{ $en := index (where .Sites "Language.Lang" "en") 0 }}
{{ $contributors := $en.GetPage "/contributors" }}
<footer class="footer">
    <div class="wrapper">
        <div class="container-fluid">
            <div class="row d-flex justify-content-center">
                <div class="col">
                    <h3 class="section-title">Project</h3>
                    <ul class="section-links">
                        <li><a href="https://github.com/superruzafa/visual-scala-reference">Github Repository</a></li>
                        <li><a href="{{ $contributors.Permalink }}">Contributors</a></li>
                    </ul>
                </div>
                <div class="col">
                    <h3 class="section-title">Scala</h3>
                    <ul class="section-links">
                        <li><a href="https://www.scala-lang.org">Homepage</a></li>
                        <li><a href="https://docs.scala-lang.org">Documentation</a></li>
                        <li><a href="https://www.scala-lang.org/api/current">API</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
