---
---
<!DOCTYPE html>
<html lang="{{ page.lang }}">
<head>
    {% include meta.html %}
    {% include css.html %}
    {% include js.html %}
    {% include icons.html %}
    {% include ga.html %}
  </head>
<body>
{% include header.html %}
    <div class="wrapper">
      <div class="container-fluid">
{% if page.translated == false %}
    {% assign english_lang_name = site.data[page.lang].english_name %}
        <p class="untranslated-message">This page has not been yet translated to {{ english_lang_name | downcase }}.</p>
{% endif %}
        {{ content }}
      </div>
    </div>
{% include footer.html %}
    <script>
      hljs.configure({
        languages: ["scala"]
      })
      hljs.initHighlighting();
    </script>
</body>
</html>
