@font-face {
  font-family: "Inconsolata G";
  src: url(assets/Inconsolata-g.otf); }
* {
  margin: 0;
  padding: 0; }

.hljs-keyword {
  color: #7f0054; }

code.literal {
  color: #000f9b; }

.hljs-type {
  color: #000f9b; }

a {
  text-decoration: none; }

a:link,
a:visited {
  color: #333; }

a:hover,
a:active {
  color: #000; }

code,
var {
  font-family: "Inconsolata G", monospace;
  font-style: normal; }

html {
  font: normal 16px/1.2em helvetica, arial, sans-serif; }

html:lang(en) .i18n:not(:lang(en)) {
  display: none;
  visibility: hidden; }

html:lang(es) .i18n:not(:lang(es)) {
  display: none;
  visibility: hidden; }

#function-list {
  height: 100%;
  list-style: none;
  overflow: auto;
  width: 200px; }
  #function-list .function-link {
    line-height: 1.4rem;
    font-family: "Inconsolata G", monospace;
    font-size: 0.9em;
    padding: 0 1rem; }
    #function-list .function-link a:hover {
      transform: scale(1.1); }
    #function-list .function-link:first-child {
      margin-top: 1rem; }
    #function-list .function-link:last-child {
      margin-bottom: 1rem; }

#function-entries {
  margin-left: 200px;
  padding: 1rem; }
  @media (max-width: 550px) {
    #function-entries {
      margin-left: 0; } }
  #function-entries .function-description {
    margin-bottom: 1rem; }
  #function-entries .function-entry {
    margin-bottom: 4rem; }
    #function-entries .function-entry::before {
      content: "";
      display: block;
      height: 5rem;
      margin-top: -5rem;
      visibility: hidden; }
  #function-entries .function-figure {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: space-between; }
    #function-entries .function-figure img {
      margin-bottom: 2rem;
      max-width: 100%; }
  #function-entries .function-figure-caption {
    font-size: 0.9em;
    line-height: 1.6em;
    margin-bottom: 2rem;
    max-width: 20rem; }
    #function-entries .function-figure-caption var {
      background: #f6f8fa;
      border: 1px solid darker(#f6f8fa, 20%);
      padding: 1px;
      border-radius: 4px; }
  #function-entries .function-figure-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
  #function-entries .function-name {
    font-family: "Inconsolata G", monospace;
    font-weight: normal;
    line-height: 2rem;
    font-size: 1.5rem;
    margin-bottom: 1rem; }
  #function-entries .function-signature {
    background: #f6f8fa;
    border-radius: darker(#f6f8fa, 20%);
    border-radius: 3px;
    font-size: 0.9em;
    margin-bottom: 1.5rem;
    padding: 1rem;
    overflow: scroll;
    white-space: nowrap; }

#main-sidebar {
  border-right: 1px solid #eee;
  float: left;
  height: calc(100vh - 3rem);
  position: sticky;
  top: 3rem; }
  @media (max-width: 550px) {
    #main-sidebar {
      display: none; } }

#main-header {
  background: linear-gradient(to bottom, #eb2024, #c52025);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  position: sticky;
  padding: 0 1rem;
  top: 0;
  z-index: 1; }
  #main-header a:link,
  #main-header a:visited {
    color: #fff; }

#main-languages {
  line-height: 3rem;
  margin-left: 200px; }
  @media (max-width: 550px) {
    #main-languages {
      line-height: 2rem;
      margin-left: 0; } }

@media (max-width: 550px) {
  #main-language-list {
    font-size: 0.9em; } }
#main-language-list .language-link {
  display: inline; }
  #main-language-list .language-link + .language-link {
    margin-left: 1rem; }

#main-title {
  float: left;
  font-size: 1rem;
  line-height: 3rem; }
  @media (max-width: 550px) {
    #main-title {
      float: none;
      line-height: 2rem;
      text-align: center; } }

#social {
  position: absolute;
  right: 1rem;
  bottom: 0;
  line-height: 3rem; }
  @media (max-width: 550px) {
    #social {
      line-height: 2rem; } }
