@font-face {
  font-family: "Inconsolata G";
  src: url(assets/Inconsolata-g.otf); }
.function-entry::before {
  display: block;
  height: 4rem;
  margin-top: -4rem;
  visibility: hidden;
  content: ""; }
.function-entry .function-name {
  font: normal 1.8rem/1.8rem "Inconsolata G", monospace;
  margin-bottom: 1.6rem; }
.function-entry + .function-entry {
  margin-top: 4rem; }

.hljs-keyword {
  color: #7f0054; }

.hljs-type {
  color: #000f9b; }

a,
a:link {
  text-decoration: none; }

a:link,
a:visited {
  color: #444; }

a:hover,
a:active {
  color: #000; }

code.scala {
  background: #f6f8fa;
  border-radius: 3px;
  display: block;
  font: normal 0.9rem/1rem "Inconsolata G", monospace;
  overflow-x: scroll;
  padding: 1rem; }

html:lang(en) .i18n:not(:lang(en)) {
  display: none;
  visibility: none; }

html:lang(es) .i18n:not(:lang(es)) {
  display: none;
  visibility: none; }

#function-list {
  list-style: none;
  padding: 0; }
  #function-list .function-link {
    font: normal 0.9rem/1.4rem "Inconsolata G", monospace; }

#main-aside {
  border-right: 1px solid #eee;
  height: calc(100vh - 3.2rem);
  overflow-y: scroll;
  padding: 1rem;
  position: sticky;
  top: calc(3.2rem); }

#main-header {
  background: #c52025;
  background: linear-gradient(to bottom, #eb2024 0%, #c52025 100%);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  color: #fff;
  overflow: hidden;
  padding: 0 15px;
  position: sticky;
  top: 0;
  z-index: 1; }
  #main-header a:link,
  #main-header a:visited {
    color: #fff; }
  #main-header #main-languages {
    margin: 0; }
    #main-header #main-languages #main-language-list {
      margin: 0; }
    #main-header #main-languages .language-link {
      display: inline;
      line-height: 3.2rem; }
      #main-header #main-languages .language-link + .language-link {
        margin-left: 2ex; }
  #main-header #main-title {
    float: left;
    font-size: 1.2rem;
    font-weight: normal;
    line-height: 3rem;
    margin: 0 4ex 0 0; }
  #main-header #social {
    position: absolute;
    top: 0;
    right: 15px;
    line-height: 3rem;
    height: 0; }
    #main-header #social a {
      color: #fff; }

#function-entries {
  padding: 1rem; }
