@font-face {
  font-family: "Inconsolata G";
  src: url(assets/Inconsolata-g.otf);
}

$monospace-font: "Inconsolata G", monospace;
$languages: ('en', 'es');

$breakpoint: 550px;
$header-height: 3rem;
$spacer: 1rem;
$sidebar-width: 200px;

$dark-red: #c52025;
$light-red: #eb2024;

$normal-link-color: #333;
$active-link-color: #000;

$keyword-color: #7f0054;
$literal-color: #000f9b;
$type-color: #000f9b;

$code-background-color: #f6f8fa;
$code-border-color: darken(#f6f8fa, 10%);

* {
  margin: 0;
  padding: 0;
}

.hljs-keyword {
  color: $keyword-color;
}

code.literal {
  color: $literal-color;
}

.hljs-type {
  color: $type-color;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: $normal-link-color;
}

a:hover,
a:active {
  color: $active-link-color;
}

code,
var {
  font-family: $monospace-font;
  font-style: normal;
}

html {
  font: normal 16px/1.2em helvetica, arial, sans-serif;
}

@each $lang in $languages {
  html:lang(#{$lang}) .i18n:not(:lang(#{$lang})) {
    display: none;
    visibility: hidden;
  }
}

#filter-box-form {
  border-bottom: 1px solid #eee;
  width: $sidebar-width;
}

#filter-box {
  border: none;
  color: #aaa;
  line-height: $spacer * 2.8;
  font-family: $monospace-font;
  font-size: 0.9em;
  padding: 0 $spacer;
  width: calc(100% - 2 * #{$spacer});

  &:focus {
    outline: none;
  }
}

#function-list {
  height: calc(100vh - 3rem - 2.8rem - 1.4rem - 1px);
  list-style: none;
  padding: 0.7 * $spacer 0;
  overflow: auto;
  width: $sidebar-width;
  
  .function-link {
    line-height: $spacer * 1.4;
    font-family: $monospace-font;
    font-size: 0.9em;
    padding: 0 $spacer;
    
    a:hover {
      transform: scale(1.1);
    }
  }
}

#function-entries {
  margin-left: $sidebar-width;
  padding: $spacer;
  
  @media (max-width: $breakpoint) {
    margin-left: 0;
  }

  .function-description {
    margin-bottom: $spacer;
  }
  
  .function-entry {
    margin-bottom: $spacer * 4;

    &::before {
      content: "";
      display: block;
      height: $header-height + 2rem;
      margin-top: ($header-height + 2rem) * -1;
      visibility: hidden;
    }
  }
  
  .function-figure {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    
    img {
      margin-bottom: $spacer * 2;
      max-width: 100%;
    }
  }
  
  .function-figure-caption {
    font-size: 0.9em;
    line-height: 1.6em;
    margin-bottom: 2rem;
    max-width: $spacer * 20;
  }
  
  .function-figure-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .function-name {
    font-family: $monospace-font;
    font-weight: normal;
    line-height: $spacer * 2;
    font-size: $spacer * 1.5;
    margin-bottom: $spacer;
  }
  
  .function-signature {
    background: $code-background-color;
    border-radius: $code-border-color;
    border-radius: 3px;
    font-size: 0.9em;
    margin-bottom: $spacer * 1.5;
    padding: $spacer;
    overflow: scroll;
    white-space: nowrap;
  }
}

#main-sidebar {
  border-right: 1px solid #eee;
  float: left;
  height: calc(100vh - #{$header-height});
  position: sticky;
  top: #{$header-height};
  
  @media (max-width: $breakpoint) {
    display: none;
  }
}

#main-header {
  background: linear-gradient(to bottom, $light-red, $dark-red);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  position: sticky;
  padding: 0 $spacer;
  top: 0;
  z-index: 1;
  
  a:link,
  a:visited {
    color: #fff;
  }
}

#main-languages {
  line-height: $header-height;
  margin-left: $sidebar-width;

  @media (max-width: $breakpoint) {
    line-height: 2rem; // @todo fix
    margin-left: 0;
  }
}

#main-language-list {
  @media (max-width: $breakpoint) {
    font-size: 0.9em;
  }

  .language-link {
    display: inline;
    
    & + .language-link {
      margin-left: $spacer;
    }
  }
}

#main-title {
  float: left;
  font-size: 1rem;
  line-height: $header-height;
  
  @media (max-width: $breakpoint) {
    float: none;
    line-height: 2rem; // @todo fix
    text-align: center;
  }
}

#social {
  position: absolute;
  right: $spacer;
  bottom: 0;
  line-height: $header-height;

  @media (max-width: $breakpoint) {
    line-height: 2rem; // @todo fix
  }
}
