@font-face {
  font-family: "Inconsolata G";
  src: url(assets/Inconsolata-g.otf);
}

$codeFont: "Inconsolata G", monospace;

a,
a:link {
  text-decoration: none;
}

a:link,
a:visited {
  color: #444;
}

a:hover,
a:active {
  color: #000;
}

.function-entry {
  .function-name {
    font: normal 1.8rem/1.8rem $codeFont;
  }
  
  & + & {
    margin-top: 4rem;
  }
}

#function-list {
  list-style: none;
  padding: 0;
}

#function-list {
  .function-link {
    font: normal 0.9rem/1.4rem $codeFont;
  }
}
